/* for 3x3 */
.board__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 300px;
  width: 300px;
}

/* for 5x5 */
.board__wrapper-5 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

  align-items: center;
  background-color: aliceblue;
}

