.board__item {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 60px;
}


/* for 5x5 */

.board__item-5 {
  width: 60px;
  height: 60px;
  font-size: 40px;
}

.board__item:hover {
  background: rgb(194, 190, 190);
  transition: .3s all ease;
}

